

.content1 {
    position: relative;
    height: 85hv;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .content1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    z-index: -1; /*  Position the overlay behind the content */
  }
  
  .opacity-image1{
    background-image: url('../assets/mensclothes.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
  }
  
.head{
color: white;
font-size: 4rem;  
margin-left: 650px;
    
}
.buttonss{
    display: flex;
    margin-left: 650px;
}
.buttons{
    display: flex;
    border-radius: 2px ;
    border: 2px solid white;
    color: white;
}
.text{
    color: white;
}